.otp-background {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #4285f4; /* Background color similar to the image */
}

.otp-box {
    background-color: white; /* White box */
    padding: 40px;
    border-radius: 10px; /* Slightly rounded corners */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Add shadow for a floating effect */
    text-align: center;
    width: 451px; /* Width of the white box */
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.otp-input-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.otp-input {
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 24px;
    border: 2px solid #ccc;
    border-radius: 8px;
    margin: 0 5px;
}

.otp-input:focus {
    border-color: #007bff;
    outline: none;
}

.verify-otp-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.verify-otp-button:hover {
    background-color: #0056b3;
}

.error-message {
    margin-top: 10px;
    color: red;
}
